body {
	margin: 0;
}

.skills_page {
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 1.5em;
	background-color: lightgray;
	padding: 8px 8px 8px 8px;
}

.header {
	grid-column: 1 / 3;
	text-align: center;
	background-color: darkblue;
	color: ivory;
	padding: 1em 0 1em 0;
}

a {
	text-decoration: none;
}

#home {
	margin: 0em 0em 0.25em 0em;
	font-size: 2.25em;
	font-family: Helvetica;
}

#intro_statement {
	margin: 0 0 0.25em 0;
	font-family: arial;
	font-size: 1.75em;
}

.navbar {
	display: flex;
	grid-column: 1 / 3;
	background-color: mediumseagreen;
	align-items: center;
	text-align: center;
	justify-content: space-around;
	flex-wrap: wrap;
	padding: 1.5em 0em 1.5em 0em;
}

.navlink {
	font-family: sans-serif;
	text-decoration: none;
	color: black;
	font-size: 1.25em;
	transition: 0.5s;
	padding: 1.25em 0.5em 1.25em 0.5em;
}

.navlink:hover {
	color: blue;
	text-decoration: underline;
	background-color: black;
}

@media screen and (max-width: 750px) {
	.navbar {
		display: grid;
		grid-template-columns: auto auto auto;
		grid-template-rows: auto auto;
		grid-row-gap: 3em;
	}

	.home {
		grid-column: 1 / 2;
		grid-row: 1 / 2;
	}

	.resume {
		grid-column: 2 / 3;
		grid-row: 1 / 2;
	}

	.about_me {
		grid-column: 3 / 4;
		grid-row: 1 / 2;
	}

	.education {
		grid-column: 1 / 2;
		grid-row: 2 / 3;
	}

	.experience {
		grid-column: 2 / 3;
		grid-row: 2 / 3;
	}

	.skills {
		grid-column: 3 / 4;
		grid-row: 2 / 3;
	}
}

.all_skills {
	grid-column: 1 / 3;
	display: flex;
	flex-direction: row;
	background-color: beige;
}

.technical {
	grid-column: 1 / 2;
	background-color: lightslategray;
	width: 50%;
	margin: 0.5em;
}

.transferable {
	grid-column: 2 / 3;
	background-color: lightslategray;
	width: 50%;
	margin: 0.5em;
}

@media screen and (max-width: 752px) {
	.all_skills {
		flex-wrap: wrap;
	}

	.technical, .transferable {
		width: 100%;
		width: 100%;
	}
}

table, th, td {
	text-align: center;
	border: solid 1px black;
	border-collapse: collapse;
	padding: 1.25em 0.5em 1.25em 0.5em;
}

table {
	border: solid 0.25em black;
}

tr:hover {
	background-color: gray;
}

.row {
	background-color: slategray;
}

.table_header {
	font-size: 1.75em;
	font-family: sans-serif;
}

.category {
	font-size: 1.5em;
}

td {
	font-size: 1.25em;
}

.footer {
	grid-column: 1 / 3;
	display: flex;
	flex-direction: row;
	background-color: darkblue;
	color: ivory;
	justify-content: space-between;
	text-align: center;
	flex-wrap: wrap;
}

h2 > a {
	color: ivory;
}

h2 {
	padding-left: 1em;
}

.copyright {
	order: 1;
	color: ivory
	padding-left: 1em;
}

h2 > a:hover {
	text-decoration: underline;
}

.source_code {
	order: 2;
}

.contact_me {
	order: 3;
	padding-right: 1em;
}